<section id="DOMAIN">
    <div style="text-align:center"><h1>Other Domains</h1></div>
    <hr />
    <div class="row">
        
        <div class="col-md-3 col-sm-3">
            <div class="row">
            <img class="media-object" src="~/images/Domain1.jpg" alt="VISION" style="width:100%;height:auto;margin:0" />
                <div class="row" style="text-align:center">Retail Management System: Sale,Purchae,Inventory</div>
                </div>
        </div>
       <div class="col-md-3 col-sm-3">
           <div class="row">
            <img class="media-object" src="~/images/Domain2.jpg" alt="VISION" style="width:100%;height:auto;margin:0" />
               <div class="row" style="text-align:center">Travel Management System</div>
                </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="row">
            <img class="media-object" src="~/images/Domain3.jpg" alt="VISION" style="width:100%;height:auto;margin:0" />
                <div class="row" style="text-align:center">E-Commerce Portals</div>
                 </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="row">
            <img class="media-object" src="~/images/Domain4.jpg" alt="VISION" style="width:100%;height:auto;margin:0" />
                 </div>
            <div class="row" style="text-align:center">Personal and Business Websites & Mobile Applications</div>
        </div>
    </div>
    
</section>
