<section id="RND">
    <div style="text-align:center"><h1>R&D</h1></div><hr />
    <div class="row">
        <div class="media">
            <img class="media-object" src="~/images/RND.jpg" alt="R&D" style="width:100%;height:auto;margin:0">
        </div>
    </div>
    <div class="row">
   
        <p>Our R&D team continuously work harder and smarter to help developing & delivering innovative web, mobile and desktop application softwares for entire healthcare industry as per your distinct ideas. Our R&D team follow the best practices for assisting healthcare domain clients to deliver best solutions. Following are main specialities of our research team: </p>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            <li class="text-left"><span class="glyphicon glyphicon-hand-right"></span> Our precise team of R&D experts work innovatively with different healthcare domain doctors to capture new ideas which can be transformed into effective & advanced web, mobile technologies for medical purposes. </li>
            <li class="text-left"><span class="glyphicon glyphicon-hand-right"></span> We always put efforts in researching, keeping in mind the current trends in healthcare IT software services and help clients to produce an outstanding future product.  </li>
            <li class="text-left"><span class="glyphicon glyphicon-hand-right"></span> We use current advanced technologies to research for the improvement and enhancements of available medical software applications to make it more advanced, highly secure, real time and cloud based. </li>
            <li class="text-left"><span class="glyphicon glyphicon-hand-right"></span> We work on the ethics of ideation, innovation and interpretation, so as to develop and deliver quality product or services. </li>
            
        </ul>
    </div>
    
</section>
