<section id="SERVICES">
    <div class="row" style="text-align:center">
        <h1>Services</h1>
    </div>
    <hr/>
    <div class="row" style="text-align:center">
        <h4>Medical records (EHR,ePhi)</h4>
    </div>
    <div class="row">
<div class="col-md-6">
    <div class="row" style="text-align:center"><b>Web Development</b></div>
    <div class="row" style="text-align:center">
        <img class="media-object" src="~/images/WBD.png" alt="Web Development" style="width:100%;height:auto;margin:0">
       
    </div>
    </div>
        <div class="col-md-6">
            <div class="row" style="text-align:center"><b>Mobile Technologies Dervice</b></div>
                <div class="row" style="text-align:center">
                    <img class="media-object" src="~/images/MTD.png" alt="Mobile Technologies Dervice" style="width:100%;height:auto;margin:0">

                </div>
            </div>
    </div>
    <div class="row" style="text-align:center"><b>Product in Healthcare</b></div>
    <div class="row" style="text-align:center">
        <img class="media-object" src="~/images/PIH.png" alt="Product in Healthcare" style="width:100%;height:auto;margin:0">

    </div>
    <div class="row" >
        <h3>Our Healthcare Services</h3>
        <p>We offer a variety of services including web, mobile and desktop application development to our global clients existing in healthcare and medical domain. The core developments projects we focus on consists of:</p>
        
    </div>

    <div class="row">
        <h4>Advanced Web & Mobile Applications for Medical Services</h4>
        <p>We hold excel in designing and developing extremely innovative web and mobile apps for the entire medical domain that include business listing portal development for clinics, hospitals, diagnostic labs, etc., along with that we also serve our global clients with appointment booking web and mobile applications for android and iPhones.</p>
        
    </div>

    <div class="row">
        <h4>Medical Record Keeping Software (EHR or ePHI)</h4>
        <p>Now keep the medical records of your patients at one place. We deliver user friendly web and mobile software apps to keep medical records of patients in digital format. These softwares are developed for doctors, hospitals, nursing homes, pathlabs to large scale government medical centers. These EHR apps can store patient history, medication reports demographics status, pathology lab results along with some personal stat like age, height and other billing informations.</p>

    </div>

    <div class="row">
        <h4>Medical Practice Management Apps</h4>
        <p>We help You to get Evolve with our Revolutionized Medical Practice Management Apps. Our team work hard in delivering best in class Medical Practice Management Apps for web, mobile and desktops. These healthcare softwares enhance and streamline the medical practice process and assist in day-to-day medical practice activities starting from capturing patient demographics, appointment scheduling, delivering billing details, generating reports, maintaining insurance payors list, etc. These are widely used at clinics and large hospitals.</p>

    </div>

    <div class="row">
        <h4>Networking & Content Management Solutions</h4>
        <p>Redefine Your Networking & Content Management in Healthcare Industry through our advanced software applications. These softwares enable managing all types of unstructured data at one place and are also used in healthcare sector for connecting various medical entities like patients to hospitals, drug companies to medical representatives, pharmacies, labs, etc.</p>

    </div>
    
    <div class="row">
        <h4>Hospital Management Solutions</h4>
        <p>Managing Administrations & Informations at Big Hospitals is Now in Your Fingertips. We fulfill your needs to manage a big hospital or clinic from anywhere in the world. Our hospital management apps can be easily integrated via web or mobile. These softwares are specifically developed for physicians, surgeons, clinics, nursing homes and multi-specialty hospitals which smoothens your administrative process within the hospital. These softwares help in maintaining schedules of multiple doctors, inventory management, its billing and payment systems, as well as modules to be used by hospital security staff.</p>

    </div>

    <div class="row">
        <h4>Software Testing Services</h4>
        <p>As we already said that our motto is “Doing Best on the Test”, so we also provide efficient, accurate and advanced software testing services for all types of web, mobile and desktop application in the healthcare industry. We have a dedicated team of testing engineers who have more than 8 years of experience in software testing specially for the online healthcare IT software applications. Out testing team validate & verify a software application in order to meet the business and technical requirement with respect to design and development.</p>

    </div>

    <div class="row">
        <h4>Medical Compliance</h4>
        <p>Apart from common healthcare software development services, we have exceptional knowledge of medical compliance standards and based on this expertise, we hold excellence in implementing world's top medical compliance standards like HIPAA and HL7 to all our medical software and healthcare devices. These HIPAA compliance implementations are necessary to make Electronic health records (EHR) highly secure, so that delicate patient data is protected. The HIPAA compliance include any individual or firm who are involved in providing treatment, operations and payment in healthcare industry or have access to patient data.</p>
        <p>Similarly the implementation of HL7 to healthcare software and cloud applications is essential to follow the international standards required to transfer or share clinical data between software used by numerous healthcare providers with authenticity. HL7 allow healthcare organizations to easily share the critical clinical data in consistent and credible manner. All these implementation of medical compliance fulfill the quality management, safety, compliance and risk prevention requirements of the healthcare domain.</p>
    </div>
</section>
<hr />