/* CSS used here will be applied after bootstrap.css */
#site-footer {
    
 background-color: #2D2D2D;
 color: #fff;
 padding:5px;
   
}

#footer-navigation {
        
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
        margin-right:0px;

    }

ul#menu-footer,#footer_p {
    padding-left:0px;
    padding-top:20px;
}


.sub-footer-item, .footer-item {
    list-style:none;
}


.sub-footer-item a, .footer-item a,#footer_p {
    color:#9d9d9d;
    font-size:1em;
    text-decoration:none;
      
}

.sub-footer-item a:hover, .footer-item a:hover {
    color:#fff;
    
}

.footer-item {
    padding:10px;
    margin:10px; 
    
}

/*aligns sub-footer-items with parent*/
.sub-footer-item {
    padding:0px;
    margin: 3px 3px 3px -40px;
}

@media only screen and (min-width : 600px) {
 
    ul#menu-footer {
    display:table;
    list-style:none;
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
    float:left;
    width:100%;    
   
}
}
    
@media only screen and (min-width : 600px) {
    
    ul#menu-footer>li {
    display:table-cell;
    list-style:none;
    color:rgb(255,255,255);
    text-align:left;
    padding:0px;
    margin:0px;
    
}
}




